.require {
    color: red;
}

/* Remove spin buttons for number input fields */
.inputField input[type='number']::-webkit-outer-spin-button,
.inputField input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField input[type='number'] {
  -moz-appearance: textfield;
}